.showMore {
    border: 1px solid #4a9849;
    border-radius: 6px;
    padding: 6px 12px;
    width: 315px;
    height: 48px;
    background: #4a9849;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}

.showMore:hover {
    background: #def2de;
    color: #1b391b;
}

.showMore:active {
    background: #254c24;
    color: #fff;
}

.showMore:disabled {
    background: #4a9849;
    opacity: 0.3;
    color: #fff;
}

@media(min-width: 768px) {
    .showMore {
        width: 133px;
        height: 48px;
        padding: 0;
    }
}

@media(min-width: 1440px) {
    .showMore {
        width: 160px;
    }
}