.categoryList{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryElement {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-2-text);
    padding: 4.5px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.active {
    font-weight: 500;
    font-size: 20px;

    border: 1px solid var(--opacity-transparent);
    border-radius: 8px;
    background: var(--color-scheme-1-foreground);
}