/* .card {
    border-radius: 12px;
    padding: 24px;
    width: 100%;
    height: 317px;

    background: var(--color-mantis-lighter);
    transition: box-shadow var(--transition-default);
}
.card:hover {
    box-shadow: 0px 0px 6px 1px var(--color-mantis-light);
}

.card_img {
    border-radius: 50%;
    margin: 0 auto 24px;
}

.card_name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-mantis-darkest);

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card_articles_amount {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-mantis-darkest);
    margin-bottom: 16px;
}

.card_link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 6px 12px;
    width: 100%;
    height: 48px;

    background: rgba(0, 0, 0, 0.05);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-mantis-darkest);

    transition:
        background-color var(--transition-default),
        color var(--transition-default),
        border-color var(--transition-default);
}
.card_link:hover,
.card_link:focus {
    border: 1px solid var(--opacity-transparent);
    background: var(--color-mantis-dark);
    color: var(--color-white);
}
.card_link:active {
    border: 1px solid var(--opacity-transparent);
    background: var(--color-mantis-darker);
    color: var(--color-white);
}

@media screen and (min-width:768px) {
    .card {
        max-width: 219px;
    }
}

@media screen and (min-width:1440px) {
    .card {
        max-width: 310px;
        height: auto;
    }

    .card_name {
        font-size: 26px;
    }

    .card_articles_amount {
        font-size: 20px;
    }

    .card_link {
        font-size: 20px;
    }
} */

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;

  border-radius: 12px;
  padding: 24px;

  background: var(--color-mantis-lighter);
}

.cardBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.cardImage {
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 24px;
}

.cardText {
  min-width: 0;
  margin-bottom: 16px;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

.articlesAmount {
  line-height: 1.5;
  color: var(--color-scheme-2-text);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: auto;
  padding: 12px;

  border-radius: 6px;
  border: 1px solid var(--color-scheme-2-border);
  background-color: var(--opacity-neutral-darkest-5);

  font-weight: 500;
  line-height: 1.4;
  color: var(--color-scheme-2-text);

  transition:
    border-color var(--transition-default),
    background-color var(--transition-default),
    color var(--transition-default);
}
@media (min-width: 768px) and  (max-width: 1024px) {
  .card{
    max-width: 219px;
    max-height: 317px;
  }
  .link {
    white-space: normal;
    text-align: center;
    max-width: 171px;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .link {
    white-space: normal;
    text-align: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .link:hover,
  .link:focus-visible {
    border-color: var(--opacity-transparent);
    background-color: var(--color-mantis-dark);
    color: var(--color-white);
  }

  .link:active {
    border-color: var(--opacity-transparent);
    background-color: var(--color-mantis-darker);
    color: var(--color-white);
  }
}