.avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  background-color: var(--color-neutral-lighter);
}

.image {
  object-fit: cover;
}

.placeholderIcon {
  width: 100%;
  height: 100%;
  fill: var(--color-mantis-darkest);
}
