.page {
  margin: 0 auto;
}
/* .storiesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
} */

.profilePageSection{
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 24px;
}

.error {
  color: var(--error-color);
}

/* LAPTOP */
@media (min-width: 1440px) {
    .profilePageSection{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}