.menu {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 0 20px 92px;
  background-color: var(--background-secondary);
  overflow-y: auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.logo,
.topActions {
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 124px;
  height: 36px;
  fill: var(--color-mantis-darkest);
}

.topActions {
  gap: 16px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.05);
}

.closeIcon {
  width: 24px;
  height: 24px;
  fill: var(--text-primary);
  stroke: var(--text-primary);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 16px;
}

.navigation a {
  color: var(--color-mantis-darkest);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.publishButtonTop {
  display: none;
}

.publishButtonMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  min-height: 32px;
  margin-top: 32px;
  padding: 8px 10px;
  border: 1px solid var(--color-mantis-dark);
  border-radius: 6px;

  background-color: var(--color-mantis-dark);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.publishButtonMobile:hover,
.publishButtonMobile:focus-visible {
  background-color: var(--color-mantis-darker);
  border-color: var(--color-mantis-darker);
}

.publishIcon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 0 32px 92px;
  }

  .navigation {
    width: 100%;
    gap: 24px;
    margin: 16px 0 0;
  }

  .publishButtonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 244px;
    height: 32px;
    padding: 4px 10px;
    border: 1px solid var(--color-mantis-dark);
    border-radius: 6px;

    background-color: var(--color-mantis-dark);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    white-space: nowrap;
  }

  .publishButtonTop:hover,
  .publishButtonTop:focus-visible {
    background-color: var(--color-mantis-darker);
    border-color: var(--color-mantis-darker);
  }

  .publishButtonMobile {
    display: none;
  }

  .actions {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    display: none;
  }
}
