.header {
  padding: 18px 0 32px;
}
.logo {
  display: block;
}

.main {
  max-width: 335px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--opacity-neutral-darkest-15);
}

.tab {
  flex: 1;
  padding: 12px 0;

  text-align: center;
  text-decoration: none;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  color: var(--color-scheme-1-text);
}

.active {
  border-bottom: 2px solid var(--color-scheme-1-text);
}

.hero {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 24px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;

  color: var(--color-scheme-1-text);
}

.subtitle {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  color: var(--color-scheme-1-text);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;

  color: var(--color-scheme-1-text);
}

.input {
  width: 100%;
  height: 40px;

  padding: 8px 12px;

  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 6px;

  background: transparent;

  font-family: var(--font-family);
  font-size: 16px;

  outline: none;
}

.input:placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.input:focus {
  border-color: var(--color-mantis-dark);
}

.button {
  width: 100%;
  height: 44px;

  border: none;
  border-radius: 6px;

  background: var(--color-mantis-dark);

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;

  color: #fff;

  cursor: pointer;

  transition: background 0.3s;
}

.button:hover,
.button:focus {
  background: var(--color-mantis-lighter);
  color: var(--color-scheme-2-text);
}

.footer {
  margin-top: 64px;

  text-align: center;

  font-family: var(--font-family);
  font-size: 12px;

  color: var(--opacity-neutral-darkest-60);
}
.form {
  margin-bottom: 53px;
}
