.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  padding: 4px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;

  transition:
    background-color var(--transition-default),
    border-color var(--transition-default);
}

.button:hover,
.button:focus-visible {
  border-color: var(--color-mantis-dark);
  background-color: var(--color-mantis-lighter);
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--text-primary);
}

@media only screen and (min-width: 1440px) {
  .button {
    display: none;
  }
}
