.RecoContainer{
    width: 100%;
    padding: 64px 20px;
    height: 735px;
    max-width: 1312px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    h3{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 52px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: var(--color-scheme-1-text);
    }
}

.recoList{
    display: grid;
    gap: 24px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .RecoContainer {
        padding: 64px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .RecoContainer {
        padding: 64px;
    }
}