.text {
  margin: 0 auto;
  font-weight: 400;
  max-width: 280px;
  text-align: center;

  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color: #1B391B;
}

@media screen and (min-width: 768px) {
  .text {
    max-width: none;
  }
}