.footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-top: 0 auto;
}
@media (min-width: 1440px) {
  .footer {
    font-size: 16px;
  }
}
